// Is this working?
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}

// Variables
@border: 1px solid white;
@background-header: #444444;
@accent: #EFF3F6;
@mobile: ~"(max-width: 500px)";

// Mixins
.bold-center() {
  font-weight: bold;
  text-align: center;
}

.flex-column() {
  display: flex;
  flex-direction: column;
}

.rounded-image() {
  width: 100%;
  border-radius: 50%;
}

html {
  font-size: 62.5%;
}

h1, h2, h3 {
  font-family: 'Raleway', sans-serif;
  .bold-center();
}

h4, p, a {
  font-family: 'Open Sans', sans-serif;
}

h1 {
  font-size: 7.2rem;
  @media @mobile {
    font-size: 3.6rem;
  }
}

hr {
  width: 10%;
}

h2 {
  font-size: 3.2rem;
  @media @mobile {
    font-size: 1.6rem;
  }
}

h3 {
  font-size: 2.4rem;
  @media @mobile {
    font-size: 1.2rem;
  }
}

h4 {
  font-size: 2.0rem;
  text-align: center;
  @media @mobile {
    font-size: 1.0rem;
  }
}

p {
  font-size: 1.6rem;
  line-height: 150%;
  @media @mobile {
    font-size: 1rem;
  }
}

.container {
  width: 90vw;
  margin: 5% auto 5% auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

  @media @mobile {
    width: 100%;
    margin: 0;
    box-shadow: 0;
  }
}

header {
  width: 100%;
  display: flex;
  background: @background-header;
  color: white;

  .headshot-container {
    width: 40%;
    background:@background-header;
    display: flex;
    justify-content: center;

    @media @mobile {
      display: none;
    }
    
    .image-wrapper {
      width: 80%;
      margin-top: 10%;
      padding: 15% 15% 0 15%;
      background: @accent;
    }
    
    img {
      .rounded-image();
    }
  }

  .header-content-box {
    width: 60%;
    margin-top: 6%;
    .flex-column();
    justify-content: flex-start;
    align-items: center;

    @media @mobile {
      width: 100%;
      flex-flow: column-reverse wrap;

      .title-box {
        padding-bottom: 2%;
      }
    }

    .header-nav-box {
      width: 100%;
      display: flex;
      justify-content: space-evenly;

      @media @mobile {
        flex-direction: column;
      }
  
      a {
        display: block;
        width: 20%;
        padding: 2% 5%;
        margin-bottom: 6%;
        font-size: 1.2rem;
        text-align: center;
        color: white;
        text-decoration: none;
        border: @border;
        border-radius: 45px;

        @media @mobile {
          width: 100%;
          padding: 5%;
          margin: 0;
          border: none;
          border-top: @border;
          border-radius: 0;
        }
      }
    }

    .title-box {
      padding-top: 5%;
    }
    
    h1, h2 {
      padding-bottom: 1%;
    }
  }
}

.content-container {
  width: 100%;
  display: flex;
  flex-flow: row wrap;

  @media @mobile {
    flex-direction: column-reverse;
    margin-top: 1%;
  }
  
  .left-column {
    width: 40%;
    padding: 0 4% 4% 4%;
    .flex-column();
    text-align: center;

    @media @mobile {
      width: 100%;
      padding: 0;
    }
        
    h2, h3, h4, p, a {
      padding-bottom: 3%;

      @media @mobile {
        padding-bottom: 1%;
      }
    }
    
    a {
      display: block;
      font-size: 1.6rem;
      color: black;

      @media @mobile {
        font-size: 0.8rem;
      }
    }
    
    .left-box {
      padding: 5% 10% 5%;
      background: @accent;

      @media @mobile {
        padding: 2%;
      }
      
      h3, h4, p, a {
        padding-bottom: 5%;
        
        @media @mobile {
          padding: 1%;
        }
      }

      h2 {
        text-align: left;

        @media @mobile {
          text-align: center;
        }
      }

      hr {
        width: 100%;
        margin-bottom: 5%;

        @media @mobile {
          width: 95%;
          margin-bottom: 2%;
        }
      }
      
      .degree {
        padding-bottom: 5%;

        @media @mobile {
          padding-bottom: 1%;
        }

        h3, h4, p {
          padding-bottom: 1%;
        }
      }
    }
    
    .contact {
      padding-top: 20%;

      @media @mobile {
        padding-top: 5%;
      }
    }
    
    .expertise {
      h3 {
        padding-bottom: 10%;

        @media @mobile {
          padding-bottom: 2%;
        }
      }
    }
  }
    
  .right-column {
    width: 60%;
    padding: 3% 4% 0 0;
    .flex-column();

    @media @mobile {
      width: 100%;
      padding: 0;
    }
    
    h3, h4 {
      padding-bottom: 1%;
    }    
  }
  
  .right-box {
    width: 100%;

    @media @mobile {
      padding: 2%;
    }
    
    h2 {
      width: 100%;
      padding: 1% 0 1% 0;
      background: @accent;
    }

    p {
      padding: 2% 0;
    }

    .position {
      padding: 2% 0;
    }
  }
}