// Is this working?
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

@border: 1px solid red;
@background-header: #444444;
@accent: #EFF3F6;

html {
  font-size: 62.5%;
}

h1, h2, h3 {
  font-family: 'Raleway', sans-serif;
}

h4, p, a {
  font-family: 'Open Sans', sans-serif;
}

.container {
  width: 90vw;
  margin: 5% auto 5% auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

header {
  width: 100%;
  display: flex;
  background: @background-header;
  color: white;
  
  .headshot-container {
    width: 40%;
    background:@background-header;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    
    .image-wrapper {
      width: 80%;
      margin-top: 10%;
      padding: 15% 15% 0 15%;
      background: @accent;
    }
    
    img {
      width: 100%;
      border-radius: 50%;
    }
  }
  
  .header-content-box {
    width: 60%;
    padding-top: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    h1 {
      padding-bottom: 1%;
    }
    
    h2 {
      padding-top: 1%;
    }
  }
}

.content-container {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  
  .left-column {
    width: 40%;
    padding: 0 4% 4% 4%;
    display: flex;
    flex-direction: column;
    
    text-align: center;
        
    h2, h3, h4, p, a {
      padding-bottom: 3%;
    }
    
    a {
      display: block;
      font-size: 1.6rem;
      text-decoration: none;
      color: black;
    }
    
    .left-box {
      padding: 5% 10% 5%;
      background: @accent;
      
      h3, h4, p, a {
        padding-bottom: 5%;  
      }

      h2 {
        text-align: left;
      }

      hr {
        width: 100%;
        margin-bottom: 5%;
      }
      
      .degree {
        padding-bottom: 5%;
        h3, h4, p {
          padding-bottom: 1%;
        }
      }
    }
    
    .contact {
      padding-top: 20%;
    }
    
    .expertise {
      h3 {
        padding-bottom: 10%;
      }
    }
  }
    
  .right-column {
    width: 60%;
    padding: 3% 4% 0 0;
    display: flex;
    flex-direction: column;
    
    h3, h4 {
      padding-bottom: 1%;
    }

    
  }
  
  .right-box {
    width: 100%;
    
    h2 {
      width: 100%;
      padding: 1% 0 1% 0;
      background: @accent;
    }

    p {
      padding: 2% 0;
    }

    .position {
      padding: 2% 0;
    }
  }
}

h1 {
  font-size: 7.2rem;
  font-weight: bold;
  text-align: center;
}

hr {
  width: 10%;
}

h2 {
  font-size: 3.2rem;
  font-weight: bold;
  text-align: center;
}

h3 {
  font-size: 2.4rem;
  font-weight: bold;
  text-align: center;
}

h4 {
  font-size: 2.0rem;
  text-align: center;
}

p {
  font-size: 1.6rem;
  line-height: 150%;
}